<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Observatory.Properties.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Observatory.Properties.Core>
            <setting name="JournalFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AllowUnsigned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NativeNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NativeNotifyFont" serializeAs="String">
                <value />
            </setting>
            <setting name="NativeNotifyColour" serializeAs="String">
                <value>4294944000</value>
            </setting>
            <setting name="NativeNotifyCorner" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NativeNotifyScreen" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TryPrimeSystemContextOnStartMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoreVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceNotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>800, 500</value>
            </setting>
            <setting name="MainWindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="NativeNotifyScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="NativeNotifyTimeout" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="StartMonitor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="StartReadAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="ColumnSizing" serializeAs="String">
                <value />
            </setting>
            <setting name="PluginsEnabled" serializeAs="String">
                <value />
            </setting>
        </Observatory.Properties.Core>
    </userSettings>
</configuration>